*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px / 16px (browser default) = 625.rem = 10px
    scroll-behavior: smooth;
}

// body {
//     box-sizing: border-box;
// }

* {
    // border: 1px dashed red;
}

/* Outline to visualize margin */
// * {
//     outline: 1px dashed red;
//     outline-offset: -1px;  /* Makes the outline hug the element, simulating margin */
// }

// /* Border to visualize actual borders */
// * {
//     border: 1px solid blue;
// }
