@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

html {
    font-family: "Poppins", sans-serif;
}

.section-heading {
    font: {
        size: 5rem;
    }
    @include font-size(map-get($typography, section-heading));
}

.section-text {
    font: {
        size: 2.4rem;
    }

    @include font-size(map-get($typography, section-paragraph));
}

.section-quote {
    font-family: "Merriweather", serif;
    // border: 1px solid red;
}

// Variables

.hero {
    &__title {
        font: {
            size: 5rem;
            weight: $fw-400;
        }

        @include font-size(map-get($typography, hero));

        line-height: $lh-hero-title;
    }

    &__subtitle {
        font: {
            size: $fs-hero-subtitle;
            weight: $fw-hero-subtitle;
        }

        line-height: $lh-hero-subtitle;
    }

    &__text {
        font: {
            size: 2.2rem;
            weight: 200;
        }

        line-height: 1.5;
    }

    &__nav-link {
        text-decoration: none;

        &:visited {
            color: black;
        }
    }
}

.about {
    &__heading {
        // font-size: 5rem;
    }

    &__text {
        // font-size: 2.4rem;
        line-height: 1.5;
        text-align: left;
        font-weight: 300;

        // @include font-size(map-get($typography, section-paragraph));

        p:not(:last-child) {
            margin-bottom: 5rem;
        }
    }

    &__quote {
        display: block;

        margin: {
            top: 5rem;
            bottom: 5rem;
        }

        font: {
            weight: 300;
            size: 3.5rem;
        }

        line-height: 2;
        text-align: center;
        position: relative;

        // &::before {
        //     content: "\201C";
        //     position: absolute;
        //     top: -3rem;
        //     left: -3rem;
        //     transform: scale(4);
        // }

        // &::after {
        //     content: "\201C";
        //     position: absolute;
        //     bottom: -10rem;
        //     right: -3rem;
        //     transform: scale(4);
        // }

        @include font-size(map-get($typography, section-quote));
    }
}

.stack {
    &__card-title {
        font: {
            size: 2.5rem;
        }
        @include font-size(map-get($typography, card-title));
    }

    &__card-text {
        font: {
            size: 1.5rem;
        }
        @include font-size(map-get($typography, section-text));
    }
}

.beyond {
    &__heading {
        // font-size: 5rem;
    }

    &__text {
        // font-size: 2.5rem;
        line-height: 1.5;
        text-align: left;
        font-weight: 300;
        color: #1c1c1c;
    }
}

.skills {
    &__heading {
        // font-size: 5rem;
    }

    &__text {
        // font-size: 2.5rem;
        line-height: 1.5;
        text-align: left;
    }
}

.portfolio {
    &__heading {
        font-size: 5rem;
    }

    &__text {
        font-size: 2rem;
        line-height: 1.5;
    }
}

.resume {
    &__heading {
        font-size: 5rem;
    }

    &__text {
        font-size: 2rem;
        line-height: 1.5;
    }
}

.contact {
    &__heading {
        // font-size: 5rem;
    }

    &__text {
        font-size: 2rem;
        line-height: 1.5;
    }
}
