@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

section {
    padding: 5vh 5vw;
}

.hero,
.about,
.stack,
.beyond,
.contact {
    @include respond-to(s) {
        padding: {
            left: 10vw;
            right: 10vw;
        }
    }
}

.section-quote {
    padding: 4rem 2rem;
    background-color: hsl(0, 0%, 16.7%);
}

.hero {
    display: flex;
    align-items: center;
    gap: 5rem;

    &__container,
    &__splash {
        flex: 1;
    }

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 5rem;
    }

    &__title {
        display: block;
        margin: 0;
        padding-bottom: 1rem;

        .blur {
            position: relative;
            z-index: 2; // Position sharp text on top
            transition: all 0.4s;

            &::before {
                // Pseudo-element for blurred background
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1; // Blurred text behind

                background: linear-gradient(-45deg, $hero-gradient-start 0%, $hero-gradient-end 100%);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;

                -webkit-filter: blur($blur-normal-filter);
                filter: blur($blur-normal-filter);
                transition: all 0.5s;
            }

            &:hover {
                background: linear-gradient(-45deg, $hero-gradient-start, $hero-gradient-end);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;

                &::before {
                    -webkit-filter: blur($blur-hover-filter);
                    filter: blur($blur-hover-filter);
                }
            }
        }

        &__subtitle {
            padding-bottom: 2rem;
        }

        &__text {
            font-size: 1.5rem;
        }
    }

    &__btn {
        font-size: 2rem;
        margin-top: 6rem;
    }

    &__splash {
        max-width: 40vw;
        max-height: 70vh;
        aspect-ratio: 1 / 1;
        display: block;
        place-self: center;
        transition: all 0.2s;
        display: block;

        @media (max-width: 1000px) {
            display: none;
        }

        &:hover {
            transform: scale(1.005);
        }
    }

    @include respond-to(m) {
        grid-template-columns: 5vw 1fr 5vw;
    }
}

.about {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;

    padding: {
        top: 8rem;
        bottom: 8rem;
    }

    background-color: $grey-dark;
    color: $white-light;

    &__heading {
    }

    &__text {
        place-items: center;
    }
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    padding: {
        top: 8rem;
        bottom: 8rem;
    }

    &__heading {
        @media (max-width: 1000px) {
            padding: 2rem 0;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5rem;
        padding: {
            bottom: 8rem;
        }

        @include respond-to(l) {
            grid-template-columns: repeat(2, 1fr);
            gap: 5rem;
            padding: {
                left: 2rem;
                right: 2rem;
            }
        }

        @include respond-to(s) {
            grid-template-columns: 1fr;
            gap: 5rem;
        }
    }
}

.beyond {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: {
        top: 8rem;
        bottom: 8rem;
    }

    background-color: #f1f1f1;
    color: #1c1c1c;

    &__heading {
        @media (max-width: 1000px) {
            padding: 2rem 0;
        }
    }

    &__text {
        padding: 2rem 0;
        grid-column: 2 / 10;

        place-items: center;
        display: block;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    padding: {
        top: 8rem;
        bottom: 8rem;
    }

    &__heading {
    }

    &__text {
        padding: 2rem 0;
    }

    &__social {
        display: grid;
        grid-template-columns: repeat(2, minmax(4rem, 8rem));
        gap: 5rem;
    }

    &__social-link {
        transition: all 0.2s;
        &:hover {
            transform: scale(1.2);
        }
    }

    &__social-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
