.card {
  // width: 30rem;
  // height: 40rem;
  // background-color: black;
  border-radius: 30px;
  border-radius: 50px;
  background: #e8e8e8;
  box-shadow: 3px 3px 17px #c8c8c8,
             -3px -3px 17px #ffffff;
  padding: 4rem;
  text-align: center;
  transition: all 0.2s;

  &:hover {
    box-shadow: 5px 5px 17px #c8c8c8,
             -5px -5px 17px #ffffff;

      
  }
}

.card h2 {
  // z-index: 1;

  // font-size: 2.4em;
}
