@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.contact-form {
  // padding: 5vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  place-content: center;
  place-items: center;
  padding: {
    bottom: 2rem;
  }

  &__label {
  }

  &__input {
    width: 50rem;
    height: 5rem;
    padding: 1rem;
    margin: 1rem;
    font: {
      size: 1.6rem;
    }

    @include respond-to(m) {
      width: 80vw;
    }

    // &:focus {
    //   border: 13px solid red;
    // }

    &:focus-visible {
      border: 2px solid green;
    }
  }

  &__text {
    width: 50rem;
    height: 5rem;
    padding: 1rem;
    margin: 1rem;
    height: 30vh;
    font: {
      size: 1.6rem;
    }

    @include respond-to(m) {
      width: 80vw;
    }
  }
}
