@use "../abstracts/variables" as *;
// Mobile Navigation

.main-nav {
    justify-self: end;

    @media (max-width: 1000px) {
        display: none;
    }
    &__list {
        display: flex;
        column-gap: 2rem;
    }
    &__item {
        text-decoration: none;
        text-transform: uppercase;
        list-style-type: none;
        padding: 0 1rem;
        font-size: 1.5rem;
        transition: all 0.2s;

        &:hover {
            transform: scale(1.2);
        }
    }
    &__link {
        cursor: pointer;
        text-decoration: none;
        color: $grey-dark;

        &:visited {
            color: $grey-dark;
        }
    }
}
