@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
    display: grid;
    grid-template-columns: 5vw 1fr 2fr 5vw;
    align-items: center;
    color: $grey-dark;
    overflow: hidden;

    @include respond-to(xs) {
        grid-template-columns: 5vw 1fr 5vw;
    }

    &__logo {
        grid-column: 2 / 3;
        justify-self: flex-start;
        max-width: 10rem;
        height: auto;
    }
}
